# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = "../WeatherPy/output/cities.csv"

cities_df =  pd.read_csv(file)
cities_df

,cities,cloudiness,country,date,humidity,lat,lon,temp_max,temp_min,wind_speed
0,ushuaia,40,AR,1577941103,45,-54.81,-68.31,62.60,62.60,8.05
1,jardim,39,BR,1577941103,92,-21.48,-56.15,71.74,71.74,0.38
2,hermanus,69,ZA,1577940566,86,-34.42,19.24,64.99,62.01,1.01
3,mount isa,40,GB,1577941103,81,53.66,-1.85,44.01,39.99,12.75
4,monmouth,90,GB,1577941104,87,51.81,-2.72,46.99,43.00,5.82
...,...,...,...,...,...,...,...,...,...,...
243,satipo,100,PE,1577941123,96,-11.26,-74.64,60.40,60.40,2.28
244,shitanjing,0,CN,1577940592,48,39.23,106.34,30.88,30.88,3.85
245,zhob,86,PK,1577941124,44,31.34,69.45,42.40,42.40,4.79
246,ambam,95,CM,1577941124,90,2.38,11.27,71.38,71.38,3.13
247,tacuarembo,59,UY,1577941124,95,-31.73,-55.98,60.58,60.58,7.02

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = cities_df[["lat", "lon"]]
humidity = cities_df["humidity"].astype(float)

In [4]:
fig = gmaps.figure(map_type="TERRAIN")

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=100,
                                point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
#perfect_temp_min = cities_df["temp_min"]>72
#perfect_wind = cities_df["wind_speed"]<10
#perfect_clouds = cities_df["cloudiness"]<10



perfect_weather = cities_df[ ( (cities_df["temp_min"]>60) & (cities_df["wind_speed"]<20) & (cities_df["cloudiness"]<30))]

perfect_weather.reset_index(drop=True)
#hotel_df.dropna()
#hotel_df

,cities,cloudiness,country,date,humidity,lat,lon,temp_max,temp_min,wind_speed
0,dalby,0,AU,1577940574,26,-27.18,151.26,105.01,95.00,13.87
1,bluff,0,AU,1577941104,19,-23.58,149.07,99.10,99.10,11.12
2,carnarvon,0,ZA,1577940556,35,-30.97,22.13,74.62,74.62,4.43
3,hay river,11,AU,1577941105,9,-34.51,144.84,96.04,96.04,7.85
4,ponta do sol,0,BR,1577940575,80,-0.53,-65.05,71.74,71.74,1.86
5,kapaa,1,US,1577940360,69,22.08,-159.32,75.20,75.20,10.29
6,buin,0,CL,1577941105,63,-33.73,-70.74,62.60,62.60,10.29
7,jamestown,0,AU,1577941105,8,-33.21,138.60,93.16,93.16,9.01
8,mataura,15,NZ,1577941106,67,-46.19,168.86,63.00,63.00,11.99
9,mundra,3,IN,1577941106,45,22.84,69.73,73.36,73.36,11.95
10,cockburn town,0,AU,1577940571,11,-32.08,141.00,91.40,91.40,10.29
11,hithadhoo,7,MV,1577940565,74,-0.60,73.08,83.62,83.62,10.58
12,tuatapere,8,NZ,1577941111,67,-46.13,167.69,63.00,63.00,11.99
13,atuona,0,PF,1577941111,73,-9.80,-139.03,80.38,80.38,16.42
14,new norfolk,0,LR,1577941113,91,6.65,-10.59,70.30,70.30,2.82
15,georgetown,20,GY,1577941113,100,6.80,-58.16,71.60,71.60,4.70
16,sayyan,0,YE,1577941114,52,15.17,44.32,60.94,60.94,2.13
17,kruisfontein,19,ZA,1577941114,73,-34.00,24.73,68.86,68.86,5.79
18,camacha,20,PT,1577940598,72,33.08,-16.33,62.60,62.60,10.29
19,hobyo,24,SO,1577940574,66,5.35,48.53,82.00,82.00,18.01
20,koster,0,ZA,1577940844,74,-25.86,26.90,69.76,69.76,12.66
21,sur,5,OM,1577941118,42,22.57,59.53,74.44,74.44,10.49
22,champerico,5,MX,1577941119,69,16.38,-93.60,75.20,75.20,4.70
23,ponta delgada,0,BR,1577940575,80,-0.53,-65.05,71.74,71.74,1.86
24,ogbomosho,6,NG,1577941122,22,8.13,4.25,66.34,66.34,11.74
25,nicoya,2,CR,1577941123,69,10.15,-85.45,78.80,73.00,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
temp_vacation = cities_df.loc[(cities_df['temp_min']>=70)&(cities_df['temp_min']<=80)]
wind_file = temp_vacation.loc[(temp_vacation['wind_speed']<=10)]
weather = wind_file.loc[(wind_file['cloudiness']<=10)]
weather.head()

,cities,cloudiness,country,date,humidity,lat,lon,temp_max,temp_min,wind_speed
14,carnarvon,0,ZA,1577940556,35,-30.97,22.13,74.62,74.62,4.43
21,ponta do sol,0,BR,1577940575,80,-0.53,-65.05,71.74,71.74,1.86
116,new norfolk,0,LR,1577941113,91,6.65,-10.59,70.30,70.30,2.82
185,champerico,5,MX,1577941119,69,16.38,-93.60,75.20,75.20,4.70
212,ponta delgada,0,BR,1577940575,80,-0.53,-65.05,71.74,71.74,1.86

In [7]:
hotel_df = weather.reset_index(drop=True)
hotel_df['Hotel Name']=""
hotel_df.head()

,cities,cloudiness,country,date,humidity,lat,lon,temp_max,temp_min,wind_speed,Hotel Name
0,carnarvon,0,ZA,1577940556,35,-30.97,22.13,74.62,74.62,4.43,
1,ponta do sol,0,BR,1577940575,80,-0.53,-65.05,71.74,71.74,1.86,
2,new norfolk,0,LR,1577941113,91,6.65,-10.59,70.30,70.30,2.82,
3,champerico,5,MX,1577941119,69,16.38,-93.60,75.20,75.20,4.70,
4,ponta delgada,0,BR,1577940575,80,-0.53,-65.05,71.74,71.74,1.86,

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params ={
        "radius":5000,
        "types": "Hotel",
        "keyword": "Lodging",
        "key":g_key
}
for index,row in hotel_df.iterrows():
    plat = row['lat']
    plng = row['lon']
    params['location'] = f"{plat},{plng}"
    response = requests.get(base_url,params=params).json()
    results = response['results']
    try:
        print(results[0]['name'])
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except:
        print(f"City not found")
        hotel_df.loc[index, "Hotel Name"] = print(np.nan)
    continue

print(hotel_df)

Lord Carnarvon Guesthouse
City not found
nan
City not found
nan
City not found
nan
City not found
nan
Hotel DoÃ±a Marta
          cities  cloudiness country        date  humidity    lat    lon  \
0      carnarvon           0      ZA  1577940556        35 -30.97  22.13
1   ponta do sol           0      BR  1577940575        80  -0.53 -65.05
2    new norfolk           0      LR  1577941113        91   6.65 -10.59
3     champerico           5      MX  1577941119        69  16.38 -93.60
4  ponta delgada           0      BR  1577940575        80  -0.53 -65.05
5         nicoya           2      CR  1577941123        69  10.15 -85.45

   temp_max  temp_min  wind_speed                 Hotel Name
0     74.62     74.62        4.43  Lord Carnarvon Guesthouse
1     71.74     71.74        1.86                       None
2     70.30     70.30        2.82                       None
3     75.20     75.20        4.70                       None
4     71.74     71.74        1.86                       None
5     78.80     73.00        9.17           Hotel DoÃ±a Marta

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{cities}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [14]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=[f"Hotel loc: {rate}" for rate in hotel_info])
fig.add_layer(markers)
# Display Map
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))