# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = "../WeatherPy/output/cities.csv"

cities_df =  pd.read_csv(file)
cities_df

,cities,cloudiness,country,date,humidity,lat,lon,temp_max,temp_min,wind_speed
0,salalah,75,OM,1578278765,78,17.01,54.10,75.20,75.20,3.36
1,paramonga,82,PE,1578278765,89,-10.68,-77.82,68.95,68.95,10.45
2,port moresby,99,CD,1578278765,67,-7.04,29.76,75.81,75.81,6.13
3,parthenay,0,FR,1578278765,93,46.65,-0.25,36.00,34.00,5.82
4,baiyin,90,CN,1578278765,85,36.55,104.13,30.00,19.40,6.71
...,...,...,...,...,...,...,...,...,...,...
233,dukat,0,AL,1578278782,35,40.25,19.57,44.01,44.01,3.00
234,isangel,76,VU,1578278782,75,-19.55,169.27,78.17,78.17,9.08
235,bitkine,9,TD,1578278782,28,11.98,18.21,63.50,63.50,7.90
236,tupancireta,0,BR,1578278653,72,-29.08,-53.84,68.45,68.45,5.59
237,nangomba,94,TZ,1578278782,90,-10.90,38.52,71.80,71.80,3.02

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = cities_df[["lat", "lon"]]
humidity = cities_df["humidity"].astype(float)

In [4]:
fig = gmaps.figure(map_type="TERRAIN")

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=100,
                                point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
temp_vacation = cities_df.loc[(cities_df['temp_min']>=60)&(cities_df['temp_min']<=90)]
wind_file = temp_vacation.loc[(temp_vacation['wind_speed']<=30)]
weather = wind_file.loc[(wind_file['cloudiness']<=30)]
print(weather.head())
len(weather)

         cities  cloudiness country        date  humidity    lat     lon  \
5     oriximina          23      BR  1578278765        76  -1.77  -55.87
10      kahului          20      US  1578278479        65  20.89 -156.47
17  new norfolk          20      LR  1578278497        88   6.65  -10.59
19    busselton          23      AU  1578278766        12 -33.64  115.35
31       hobart          20      AU  1578278744        55 -42.88  147.33

    temp_max  temp_min  wind_speed
5      79.88     79.88        2.08
10     77.00     72.00       18.34
17     68.00     68.00        3.36
19     90.00     82.99       11.43
31     78.01     66.20       16.11

36

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = weather.reset_index(drop=True)
hotel_df['Hotel Name']=""
hotel_df.head()

,cities,cloudiness,country,date,humidity,lat,lon,temp_max,temp_min,wind_speed,Hotel Name
0,oriximina,23,BR,1578278765,76,-1.77,-55.87,79.88,79.88,2.08,
1,kahului,20,US,1578278479,65,20.89,-156.47,77.00,72.00,18.34,
2,new norfolk,20,LR,1578278497,88,6.65,-10.59,68.00,68.00,3.36,
3,busselton,23,AU,1578278766,12,-33.64,115.35,90.00,82.99,11.43,
4,hobart,20,AU,1578278744,55,-42.88,147.33,78.01,66.20,16.11,

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params ={
        "radius":5000,
        "types": "Hotel",
        "keyword": "Lodging",
        "key":g_key
}
for index,row in hotel_df.iterrows():
    plat = row['lat']
    plng = row['lon']
    params['location'] = f"{plat},{plng}"
    response = requests.get(base_url,params=params).json()
    results = response['results']
    try:
        #print(results[0]['name'])
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except:
        #print(f"City not found")
        hotel_df.loc[index, "Hotel Name"] = print(np.nan)
    continue

print(hotel_df)

nan
nan
nan
nan
nan
nan
               cities  cloudiness country        date  humidity    lat  \
0           oriximina          23      BR  1578278765        76  -1.77
1             kahului          20      US  1578278479        65  20.89
2         new norfolk          20      LR  1578278497        88   6.65
3           busselton          23      AU  1578278766        12 -33.64
4              hobart          20      AU  1578278744        55 -42.88
5           kavaratti           0      IN  1578278768        67  10.57
6           mogadishu           8      SO  1578278769        86   2.04
7              ixtapa           5      MX  1578278769        77  20.71
8            koregaon          30      IN  1578278769        80  17.70
9             vryburg           0      ZA  1578278769        23 -26.96
10        minuwangoda          20      LK  1578278769       100   7.17
11            vaitape          12      PF  1578278771        72 -16.52
12  sao joao da barra           0      IN  1578278772        43  20.51
13           cidreira           0      BR  1578278773        84 -30.17
14             padang           0      ID  1578278773        55  -0.92
15            sechura           0      PE  1578278774        85  -5.56
16         georgetown           0      GY  1578278526        88   6.80
17             tadine           0      NC  1578278775        59 -21.55
18            margate          20      AU  1578278752        55 -43.03
19               chuy           0      UY  1578278592        85 -33.69
20             torres           0      BR  1578278776        86 -29.34
21     nuevo progreso           0      AR  1578278777        58 -27.50
22              paita           0      PE  1578278777        71  -5.09
23            escobal          20      CR  1578278777        73   9.93
24               kaeo           5      NZ  1578278778        74 -35.10
25          portobelo          20      PA  1578278779        83   9.55
26            kavieng          29      PG  1578278779        69  -2.57
27            cotonou          20      BJ  1578278779        73   6.37
28             sinnar           0      IN  1578278780        63  19.85
29         coahuayana           0      MX  1578278780        48  18.62
30     bobo dioulasso          13      NG  1578278781        26  12.29
31            ahipara           3      NZ  1578278781        74 -35.17
32             nirgua           0      VE  1578278781        87  10.15
33       bull savanna          20      LR  1578278781        88   6.20
34            bitkine           9      TD  1578278782        28  11.98
35        tupancireta           0      BR  1578278653        72 -29.08

       lon  temp_max  temp_min  wind_speed  \
0   -55.87     79.88     79.88        2.08
1  -156.47     77.00     72.00       18.34
2   -10.59     68.00     68.00        3.36
3   115.35     90.00     82.99       11.43
4   147.33     78.01     66.20       16.11
5    72.64     80.29     80.29        7.20
6    45.34     80.58     80.58       17.67
7  -105.21     70.00     69.80        4.43
8    74.16     64.00     64.00        6.53
9    24.73     70.65     70.65        4.56
10   79.95     75.20     75.20        1.12
11 -151.75     82.38     82.38       11.03
12   76.21     61.83     61.83        8.30
13  -50.22     74.70     74.70       23.15
14  100.36     82.27     82.27        2.73
15  -80.82     71.82     71.82        8.72
16  -58.16     71.60     71.60        4.70
17  167.88     81.93     81.93       12.33
18  147.26     78.01     66.20       16.11
19  -53.46     69.55     69.55       11.83
20  -49.73     75.00     75.00       17.83
21  -58.79     84.20     78.80        8.05
22  -81.11     75.27     75.27        5.41
23  -84.43     71.60     66.99        6.93
24  173.78     73.00     70.00        1.01
25  -79.65     79.00     75.20        3.36
26  150.80     85.75     85.75        8.14
27    2.43     75.20     75.20        2.24
28   74.00     62.28     62.28       10.20
29 -100.35     72.73     72.73        3.58
30    6.15     61.86     61.86       10.18
31  173.16     73.00     73.00        1.01
32  -68.57     64.87     64.87        4.83
33  -10.28     68.00     68.00        3.36
34   18.21     63.50     63.50        7.90
35  -53.84     68.45     68.45        5.59

                             Hotel Name
0                         Hotel Mapuera
1        The Old Wailuku Inn at Ulupono
2                                  None
3                Barefoot Beach Cottage
4                     The Alabama Hotel
5           Bismillah Hotel And Lodging
6                         Dolphin Hotel
7      CIRCUITO CONCHAS CHINAS ECOTERRA
8                           कुलस्वामिनी
9                       Game View Lodge
10                         The Wallawwa
11  InterContinental Le Moana Bora Bora
12         BULDANA URBAN RESIDENCY CLUB
13                         Pousada Rosa
14                       Mercure Padang
15             Hotel Amanecer - Sechura
16     Ramada Georgetown Princess Hotel
17                                 None
18                         Villa Howden
19                        Etnico Hostel
20                Encantos Torres Hotel
21         La Alondra Casa de Huéspedes
22                 Hotel Marina Del Bay
23                        Barons Resort
24                Pacific Harbour Lodge
25       El Otro Lado - Private Retreat
26                  Nusa Island Retreat
27         Hotel Novotel Cotonou Orisha
28                   DS Enterprise b204
29                                 None
30                                 None
31                             The Huts
32                      Hotel La Casona
33                                 None
34                                 None
35                        Hotel Cassino

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{cities}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=[f"Hotel loc: {rate}" for rate in hotel_info])
fig.add_layer(markers)
# Display Map
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))